<ion-view title="About" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <h1 id="about-heading3" style="color:#000000;">About</h1>
    <ion-list id="about-list8">
      <div class="item item-body" id="about-list-item-container4">
        <div id="about-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lorem ipsum dolor sit amet, eu mel odio viderer aperiri. Usu delicata aliquando ei, harum euismod ex est. At melius corpora tincidunt sea, minim error quo at, id per amet dissentias definitionem. Te vel debitis petentium sadipscing, vim diam
            virtute eu. Ex est fugit labores posidonium.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 112px;"></div>
    <p>
      <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

    </p>
    <div>
      <img src="img/iHeeqQU0TvqQhvZEIZLE_SERCE.jpg" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>