<div ng-controller="detailInformationCtrl">
<form name="personalData">
  <div>{{person}}</div>
<ion-view title="Detail Information" hide-nav-bar="true" id="page17">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <ion-list id="detailInformation-list10" class="manual-list-fullwidth">
      <ion-item class="item-avatar" id="detailInformation-list-item25">
        <img src="img/ab2cATrBSDOH8QDTSk2w_photo.jpg">
      </ion-item>
      <label class="item item-input" id="detailInformation-input14">
        <span class="input-label">Name</span>
        <input name="name" ng-value="nameValue" ng-model="person.name" type="text" placeholder="Name">
      </label>
      <label class="item item-input" id="detailInformation-input15">
        <span class="input-label">Surname</span>
        <input name="surname" ng-value="surnameValue" ng-model="person.surname" type="text" placeholder="Surname">
      </label>
      <label class="item item-input" id="detailInformation-input16">
        <span class="input-label">Age</span>
        <input name="age" ng-value="ageValue" ng-model="person.age" type="number" placeholder="Age">
      </label>
      <label class="item item-input" id="detailInformation-input17">
        <span class="input-label">Weight</span>
        <input name="weight" ng-value="weightValue" ng-model="person.weight" type="number" placeholder="Weight">
      </label>
      <label class="item item-input" id="detailInformation-input18">
        <span class="input-label">City</span>
        <input name="city" ng-value="cityValue" ng-model="person.city" type="text" placeholder="City">
      </label>
      <label class="item item-input" id="detailInformation-input19">
        <span class="input-label">Street</span>
        <input name="street" ng-value="streetValue" ng-model="person.street" type="text" placeholder="Street">
      </label>
      <label class="item item-input" id="detailInformation-input20">
        <span class="input-label">Flat</span>
        <input name="flat" ng-value="flatValue" ng-model="person.flat" type="text" placeholder="Flat number">
      </label>
      <label class="item item-input" id="detailInformation-input21">
        <span class="input-label">Zip Code</span>
        <input name="zipCode" ng-value="zipCodeValue" ng-model="person.zipCode" type="text" placeholder="Zip Code">
      </label>
      <label class="item item-input" id="detailInformation-input22">
        <span class="input-label">Phone</span>
        <input name="phone" ng-value="phoneValue" ng-model="person.phone" type="number" placeholder="Phone">
      </label>
      <label class="item item-select" id="detailInformation-select2">
        <span class="input-label">Who are you</span>
        <select ng-model="userType" ng-change="chooseUserType(userType)"
                data-ng-options="userChoose as userChoose.userType for userChoose in usersTypes">
          <option value="">{{selectUserType}}</option>
        </select>
      </label>
    </ion-list>
    <a ng-click="saveToLocalStorage(person)" ui-sref="myProfile()" id="detailInformation-button11" class="button button-assertive button-block">Save</a>
  </ion-content>
</ion-view>
</form>
</div>
