<ion-view title="Home Page" hide-nav-bar="true" id="page16">
  <ion-nav-buttons side="left" scroll="false">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="homePage-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="homePage-slide25">
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <h1 id="homePage-heading6" style="color:#000000;">Health</h1>
        <div id="homePage-markdown9" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:17px;">
            <strong>This application was made to improve life for people sick and disable.
            </strong>
          </p>
        </div>
        <div id="homePage-markdown10" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:17px;">
            <strong>Everybody can help another person!</strong>
          </p>
        </div>
        <div>
          <img src="img/9pnaY3VaQEi1SuBrUtV5_OGFB4B0.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="homePage-slide26">
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <h2 id="homePage-heading4" style="color:#000000;">Share your position</h2>
        <div>
          <img src="img/KPwdeXRemDTo0w2t73FA_1392496432.png" style="display: block; width: 48%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="homePage-heading5" style="color:#000000;text-align:right;">And help to each other!</h3>
        <div>
          <img src="img/3AmpnI0eQqWmIQ5mjWId_1029.jpg" style="display: block; width: 75%; height: 50%; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="homePage-slide21">
        <div class="spacer" style="width: 300px; height: 181px;"></div>
        <div id="homePage-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:24px;">
            <strong>Ok let's go and help!</strong>
          </p>
        </div>
        <div class="spacer" style="width: 300px; height: 4px;"></div>
        <a ui-sref="index.login()" id="homePage-button12" style="font-size:20px;" class="button button-assertive button-block">Login</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>