<ion-view title="MyMedicine" hide-back-button="true" id="page8">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="myMedicine-heading1" style="color:#000000;text-align:center;">My Medicine</h1>
    <div>
      <div class="row">
        <div class="col">Drags name</div>
        <div class="col">Quantity</div>
      </div>
      <div class="row">
        <div class="col">Rutinoscorbin</div>
        <div class="col">2 per Day</div>

      </div>
      <div class="row">
        <div class="col">Apap</div>
        <div class="col">1 at Night</div>

      </div>
      <div class="row">
        <div class="col">Onion</div>
        <div class="col">To each soup</div>

      </div>
    </div>
  </ion-content>
</ion-view>
