<ion-view title="MyProfile" hide-nav-bar="true" id="page7">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <h1 id="myProfile-heading2" style="color:#000000;">My Profile</h1>
    <div ng-controller="myProfileCtrl">
    <ion-list id="myProfile-list6">
      <ion-item class="item-avatar" id="myProfile-list-item15" ui-sref="detailInformation()">
        <img src="img/ni6TI3D9RwqddZaZhkfT_photo.jpg">
        <h2>{{firstName}}</h2>
        <p>{{lastName}}</p>
      </ion-item>
    </ion-list>
  </div>
    <div ng-controller="myProfileCtrl">
    <form id="myProfile-form5" class="list">
      <label class="item item-select" id="myProfile-select1">
        <span class="input-label">Blood</span>
        <select ng-model="bloodTypeSelected" ng-change="chooseBlood(bloodTypeSelected)"
        data-ng-options="bloodType as bloodType.type for bloodType in bloodsType">
          <option value="">{{selectBloodType}}</option>
        </select>
      </label>
    </form>
  </div>
    <div>
      <img src="img/psUJeXfSLe3FCqaNlfWr_bloodpng.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto; margin-top: 100px;">
    </div>
  </ion-content>
</ion-view>
