<ion-view title="Settings" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="settings-container2">
      <form id="settings-form6" class="list">
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <div id="settings-markdown6" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            <strong>Set the range of GPS area</strong>
          </p>
        </div>
        <ion-item class="range range-positive" id="settings-range1">Range
          <input type="range" value="15" min="0" max="30" step="1">
        </ion-item>
      </form>
    </div>
  </ion-content>
</ion-view>