<ion-view title="Signup" hide-nav-bar="true" id="page11">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 64px;"></div>
    <form id="signup-form2" class="list">
      <ion-list id="signup-list5">
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Name</span>
          <input type="text" placeholder="FirstName">
        </label>
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Surname</span>
          <input type="text" placeholder="Surname">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Phone</span>
          <input type="tel" placeholder="Phone">
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">PESEL</span>
          <input type="text" placeholder="PESEL">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <a ui-sref="index.maps()" id="signup-button9" class="button button-assertive button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>